@font-face {
  font-family: plex-sans;
  src: url(./fonts/IBMPlexSans-Regular.woff2) format("woff2"),url(./fonts/IBMPlexSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display:"swap"
}

@font-face {
  font-family: plex-sans;
  src: url(./fonts/IBMPlexSans-Bold.woff2) format("woff2"),url(./fonts/IBMPlexSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display:"swap"
}

@font-face {
  font-family: stratos;
  src: url(./fonts/stratos-semibold.woff2) format("woff2"),url(./fonts/stratos-semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: "fallback"
}

body {
  margin: 0;
  padding: 0;
  font-family: plex-sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.app, body, html {
  width: 100%;
  height: 100%;
}

.header {
  padding: 12px 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 540px) {
  .header {
      padding: 12px 16px;
  }
}

.logo {
  color: transparent;
  height: 36px;
  background-size: cover;
}

@media only screen and (min-width: 539px) {
  .logo {
    background-image: url(./images/logo@2x.jpg);
    width: 138px;
  }
}

@media only screen and (max-width: 540px) {
  .logo {
    background-image: url(./images/logo-mini@2x.jpg);
    width: 34px;
  }
}

.user {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.user-icon {
  height: 24px;
}

.user-name {
  color: #2E3333;
}

@media only screen and (max-width: 540px) {
  .user-name {
    display: none;
  }
}

.location {
  background-color: #00CCBC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 78px;
}

@media only screen and (max-width: 540px) {
  .location {
      padding: 48px 16px;
  }
}

@media only screen and (max-width: 540px) {
  .location {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .current-location {
    padding-bottom: 24px;
  }
}

.current-location {
  display: flex;
  flex-direction: column;
}

.location-label {
  font-size: 16px;
  color: #00665E;
  font-family: stratos, sans-serif;
}

.location-value {
  font-size: 34px;
  color: white;
  font-weight: bold;
}

.location-change {
  background-color: white;
  color: #00A396;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.body {
  padding: 0 78px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 540px) {
  .body {
      padding: 0 16px;
  }
}

.search-count {
  padding: 40px 0 24px;
  color: #828585;
}

@media only screen and (max-width: 540px) {
  .search-count {
    display: none;
  }
}

.search-results {
  margin: 0 -16px 16px;
}

.item {
  width: 33.3333%;
  text-decoration: none;
  color: black;
  display: inline-flex;
  flex-direction: column;
  margin: 16px 0;
  padding: 0 16px;
}

@media only screen and (max-width: 540px) {
  .item {
    width: 100%;
  }
}

.item-image {
  height: 200px;
  object-fit: cover;
}

@media only screen and (max-width: 540px) {
  .item-image {
    height: 164px;
  }
}

.item-title {
  font-family: stratos, sans-serif;
  font-weight: bold;
  margin-top: 8px;
  font-size: 22px;
}

.item-subtitle {
  margin-top: 8px;
  font-size: 14px;
  color: #828585;
}